# Environment Mode
NODE_ENV=development
PORT=4000

# Primary Database (PostgreSQL 16)
DATABASE_URL="postgresql://oriental_admin:oriental_secret_password_2026@localhost:5432/oriental_ecosystem_db?schema=public"

# Redis Cache & Queue
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_secret_oriental

# JWT Security
JWT_SECRET=super_secret_oriental_jwt_key_development_2026
JWT_EXPIRATION=1d
JWT_REFRESH_SECRET=super_secret_oriental_refresh_token_key_2026
JWT_REFRESH_EXPIRATION=7d

# Third-Party Integrations
WHATSAPP_API_URL=https://api.fonnte.com/send
WHATSAPP_API_TOKEN=your_whatsapp_gateway_token
QRIS_MERCHANT_ID=your_qris_merchant_id

# MinIO / S3 Storage
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minio_oriental
S3_SECRET_KEY=minio_secret_key_2026
S3_BUCKET_NAME=oriental-assets

# Frontend Web Port
VITE_API_URL=http://localhost:4000/api/v1
